<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" href="/public/css/app.css">

</head>
<body>
<div id="module-box"></div>
<!-- 设置根目录-->
<script>location.config = {root: '/src/html/'}</script>
<script src="/src/js/lib/nej/src/define.js?pro=/src/js/"></script>
<script src="/src/js/page/index.js"></script>
</body>
</html>




